@using HotelRapidApi.WebUI.DTOs.AboutDtos
@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık 1</th>
        <th>Başlık 2</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title1</td>
            <td>@item.Title2</td>
            <td><a href="/Admin/About/UpdateAbout/@item.Id" class="btn mb-1 btn rounded btn-success">Güncelle</a></td>
        </tr>
    }
</table>
