@{
    ViewData["Title"] = "Otel Detayı";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- PAGE HEADER -->
<div class="container-fluid page-header mb-5 p-0"
     style="background-image: url('/hotel-theme/img/carousel-1.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3">Otel Detayı</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item">
                        <a asp-controller="Default" asp-action="Index">Ana Sayfa</a>
                    </li>
                    <li class="breadcrumb-item active text-white" aria-current="page">
                        Detay
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!-- CONTENT -->

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase">Otel Detayı</h6>
                <h1 class="mb-5">Konforlu Bir <span class="text-primary text-uppercase">Konaklama</span></h1>
            </div>

           
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="~/hotel-html-template/img/about-1.jpg" style="margin-top: 25%;" alt="Otel lobisi">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="~/hotel-html-template/img/about-2.jpg" alt="Otel odası">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="~/hotel-html-template/img/about-3.jpg" alt="Spa alanı">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="~/hotel-html-template/img/about-4.jpg" alt="Restoran">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 55px; height: 55px;">
                                <i class="fa fa-hotel text-white"></i>
                            </div>
                            <div class="ms-3">
                                <h2 class="mb-0">Otel Bilgileri</h2>
                                <small class="text-muted">Otel ID: @ViewBag.HotelId</small>
                            </div>
                        </div>
                        <p class="mb-4">
                            Seçili otelin detayları burada listelenecek. Tema diliyle uyumlu, sıcak ve davetkâr
                            bir anlatım ile konuklara konforlu bir konaklama deneyimi sunulacaktır.
                        </p>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="bg-light rounded d-flex align-items-center p-3 h-100">
                                    <i class="fa fa-map-marker-alt text-primary fs-4 me-3"></i>
                                    <div>
                                        <h6 class="mb-1">Lokasyon</h6>
                                        <small>Şehir merkezine yakın</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="bg-light rounded d-flex align-items-center p-3 h-100">
                                    <i class="fa fa-star text-primary fs-4 me-3"></i>
                                    <div>
                                        <h6 class="mb-1">Puan</h6>
                                        <small>4.8/5 konuk değerlendirmesi</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="bg-light rounded d-flex align-items-center p-3 h-100">
                                    <i class="fa fa-wifi text-primary fs-4 me-3"></i>
                                    <div>
                                        <h6 class="mb-1">Olanaklar</h6>
                                        <small>Ücretsiz Wi-Fi &amp; Kahvaltı</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="bg-light rounded d-flex align-items-center p-3 h-100">
                                    <i class="fa fa-swimmer text-primary fs-4 me-3"></i>
                                    <div>
                                        <h6 class="mb-1">Aktiviteler</h6>
                                        <small>Spa, havuz &amp; fitness</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                        <div class="border rounded p-4 mt-4">
                            <h5 class="text-primary mb-3">Detay Notu</h5>
                            <p class="mb-4 text-muted">
                                Burada RapidAPI → <b>getHotelDetails</b> endpoint’i ile gelen detaylar
                                (fiyat, oda tipi, açıklama ve görseller) temaya uygun kartlarla gösterilecektir.
                            </p>
                            <div class="d-flex flex-wrap gap-3">
                                <a class="btn btn-primary py-2 px-4" asp-controller="Booking" asp-action="Create">
                                    Hemen Rezervasyon
                                </a>
                                <a class="btn btn-outline-primary py-2 px-4" asp-controller="Contact" asp-action="Index">
                                    Bilgi Alın
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
