@using HotelRapidApi.WebUI.DTOs.WorkLocationsDto
@model List<ResultWorkLocationDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Lokasyon Adı</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.WorkLocationName</td>
            <td>@item.WorkLocationCity</td>
            <td><a href="/Admin/WorkLocation/DeleteWorkLocation/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/WorkLocation/UpdateWorkLocation/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/WorkLocation/AddWorkLocation/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Lokasyon Girişi</a>