@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_UILayoutHead")

<body>

    <!-- Spinner -->
    @await Component.InvokeAsync("_UILayoutSpinner")

    <!-- Navbar -->
    @await Component.InvokeAsync("_UILayoutNavbar")

    <!-- Page Content -->
    <main role="main">
        @RenderBody()
    </main>

    <!-- Footer -->
    @await Component.InvokeAsync("_UILayoutFooter")

    <!-- Back To Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>

    <!-- Scripts -->
    @await Component.InvokeAsync("_UILayoutScript")

</body>
</html>
