@using HotelRapidApi.WebUI.DTOs.BookingDtos
@model CreateBookingDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="container-xxl py-5" style="margin-bottom:180px;">

    <div class="container">

        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">
                Rezervasyon Paneli
            </h6>
            <h1 class="mb-5">
                Odanızı Şimdi <span class="text-primary text-uppercase">Rezerve Edin</span>
            </h1>
        </div>

        <div class="row g-5">

            <!-- Sol görseller -->
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75"
                             src="~/hotel-html-template/img/about-1.jpg"
                             style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100"
                             src="~/hotel-html-template/img/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50"
                             src="~/hotel-html-template/img/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75"
                             src="~/hotel-html-template/img/about-4.jpg">
                    </div>
                </div>
            </div>

            <!-- Form -->
            <div class="col-lg-6">
                <form method="post" asp-action="Create" asp-controller="Booking">
                    <div class="row g-3">

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Name" class="form-control" placeholder="Ad Soyad">
                                <label asp-for="Name"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Mail" class="form-control" placeholder="Mail">
                                <label asp-for="Mail"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Checkin" type="date" class="form-control">
                                <label asp-for="Checkin"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="CheckOut" type="date" class="form-control">
                                <label asp-for="CheckOut"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="AdultCount" class="form-select">
                                    <option value="1">Yetişkin 1</option>
                                    <option value="2">Yetişkin 2</option>
                                    <option value="3">Yetişkin 3</option>
                                </select>
                                <label asp-for="AdultCount"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="ChildCount" class="form-select">
                                    <option value="0">Çocuk 0</option>
                                    <option value="1">Çocuk 1</option>
                                    <option value="2">Çocuk 2</option>
                                </select>
                                <label asp-for="ChildCount"></label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <select asp-for="RoomCount" class="form-select">
                                    <option value="1">Oda 1</option>
                                    <option value="2">Oda 2</option>
                                </select>
                                <label asp-for="RoomCount"></label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <textarea asp-for="SpecialRequest"
                                          class="form-control"
                                          style="height:100px"></textarea>
                                <label asp-for="SpecialRequest"></label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea asp-for="Description"
                                          class="form-control"
                                          style="height:100px"></textarea>
                                <label asp-for="Description"></label>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <button type="submit"
                                    class="btn btn-primary w-100 py-3">
                                Rezervasyon Yap
                            </button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
